html{
    font-size: 15px;
}
/*Estilos bloque bienvenidos*/
.bienvenidos{
    background: url(../images/fondo-bienvenidos.jpg);
    background-size: cover;
    height: 100vh;//100% de la altura pantalla
    overflow: hidden;
}
.navbar-fixed-top{
    background: rgba(0,0,0,0.60);
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover, .navbar-light .navbar-toggler:focus, .navbar-light .navbar-toggler:hover {
    color: #ddd;
}

.navbar-light .navbar-brand {
    color: rgb(253,253,253);
    font-size: 1rem;
    text-transform: uppercase;
}

.navbar-toggler {
    font-size: 1.6rem;
    color: #fff !important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255,255,255);
    text-align: center;
    padding: .1rem;
    transition: all .2s ease;
}
.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .open > .nav-link:focus, .navbar-light .navbar-nav .open > .nav-link:hover, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .active > .nav-link:focus, .navbar-light .navbar-nav .active > .nav-link:hover, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.open:focus, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active:focus, .navbar-light .navbar-nav .nav-link.active:hover {
    color: #eee;
    background: #F05F40;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ddd;
    background: #F05F40;
}


#menuPrincipal{
    clear:both;
}
.texto-bienvenido{
    color:white;
    margin-top: 8rem
}
.btn-primary {
    color: #fff;
    background-color: #029dd8;
    border-color: #1902d8;
    transition: all .5s ease;
}
.btn-primary:hover {
    color: #fff;
    background-color: rgb(0, 138, 255);
    border-color: #014279;
}
/*ESTILOS BLOQUE QUIENES SOMOS*/
.quienes-somos{
    background: #0062FF;
    color: #fff;
}
/*ESTILOS BLOQUE NUESTROS SERVICIOS*/
.servicios .row div{
    
}
.servicios .fa{
    color:#0000FF;
    font-size: 6rem;
}
.servicios h3{
    font-weight: bold;
}
/*ESTILOS BLOQUE ultimos proyectos*/
.ultimos-proyectos{
    background: #343635;
    color: #fff;
    
}
.ultimos-proyectos a{
    display: block;
    overflow: hidden;
    margin-bottom: 1.5rem;
}
.ultimos-proyectos img{
    min-width: 100%;
    transition: all 0.5s ease;
}
.ultimos-proyectos a:hover img{
    transform: scale(1.5);
}
/*ESTILOS BLOQUE PIE DE PAGINA*/
.footer{
    color:#fff;
    background: #222222;

}
/*Empiezan los mediaqueries*/
@media (min-width: 768px){
    html{
        font-size: 16px;
    }
    #menuPrincipal {
        clear: inherit;
    }
    .bienvenidos{
        background: url(../images/fondo-bienvenido-grande.jpg);
        background-size: cover;
    }
}










